<!-- A launch file to start a few nodes to obtain cmd_vel -->

<launch>
    <node pkg="nav_bot" type="traj_generator_simple.py" name="traj_gen_node" output="screen"/>
    <node pkg="nav_bot" type="cmd_vel_gen_simple.py" name="cmd_gen_node" output="screen"/>
    <!-- <node pkg="rosserial_python" type="serial_node.py" name="arduino_serial_node" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
    </node> -->
</launch>
