<!-- A Full fleged launch file to start the robot -->

<launch>
    <node pkg="nav_bot" type="frame_grabber.py" name="frame_grabber_node" output="screen"/>
    <node pkg="nav_bot" type="mock_proximity.py" name="proxi_data_gen_node" output="screen"/>
    <node pkg="nav_bot" type="object_tackr.py" name="object_tracker_node" output="screen"/>
    <node pkg="nav_bot" type="traj_generator.py" name="trajectroy_gen_node" output="screen"/>
    <node pkg="nav_bot" type="cmd_vel_gen.py" name="cmd_vel_pub_node" output="screen"/>
    <node pkg="rosserial_python" type="serial_node.py" name="arduino_serial_node" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
    </node>
</launch>
